@import "reset.css";

/* screens */

@import "./screen/main.css";
@import "./screen/introduce.css";

/* components */

@import "./components/nav.css";
@import "./components/nav2.css";
@import "./components/footer.css";

html,
body {
  background-color: #eeeae4;
  height: 100vh;
  width: 100vw;
  -webkit-text-size-adjust: none;
}
