.business {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 200px;
}
.business__sm-title {
  color: #4a4e4d;
  font-size: 50px;
}

.business__info {
  font-size: 20px;
}
