.business {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  width: 100%;
}
.business__sm-title1,
.business__sm-title2 {
  color: #4a4e4d;
  justify-content: center;
  font-size: 35px;
  margin-right: 50px;
}

.business__sm-title1 {
  margin-left: 50px;
}

.business__info {
  justify-content: center;
  font-size: 18px;
}

.business__line {
  width: 4px;
  height: 70px;
  margin-right: 100px;
  background: #184b46;
  content: " ";
}
