.excutive {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.excutive__sm-title {
  font-size: 25px;
  width: 200px;
  margin: 50px 0px;
}

.excutive__name {
  font-size: 30px;
}

.excutive__structure {
  text-align: center;
}

.excutive__structure-title {
  margin: 80px 0px;
  font-size: 30px;
  color: #4a4e4d;
}

.excutive__structure-img {
  margin-bottom: 50px;
}
