.nav2__list:first-child {
  color: #6b9ecc;
}
.introduce__sm-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.introduce__greeting {
  display: flex;
  justify-content: center;
  width: 1140px;
  text-align: left;
  font-size: 35px;
  color: #005b96;
}

.introduce__info {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 20px;
}

.introduce__history {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.introduce__img1 {
  display: block;
  margin: 0px auto;
  width: 70%;
  height: 70%;
  border-radius: 10px;
}
