.introduce__sm-title {
  font-size: 35px;
  text-align: center;
  width: 100%;
  margin: 30px 0px;
}

.introduce__greeting {
  text-align: center;
  font-size: 25px;
  margin: 20px 0px;
  color: #184b46;
}

.introduce__infos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-top: 10px;
}

.introduce__history {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.introduce__img1 {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 0px 90px;
}
.introduce__img {
  width: 400px;
  border-radius: 10px;
}

.introduce__img1 .img__text {
  position: absolute;
  top: 180px;
  left: 70px;
  font-size: 18px;
  font-weight: 700;
}
