.main {
  border-top: #184b46 solid 5px;
}
.main__img {
  box-sizing: border-box;
  width: 100%;
  height: 80vh;
  background-image: url(/assets/main1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: var(--min-width);
  animation: changebg 20s ease-in-out infinite;
  animation-direction: alternate;
}

@keyframes changebg {
  0% {
    background-image: url(/assets/main1.jpg);
  }
  20% {
    background-image: url(/assets/main1.jpg);
  }
  40% {
    background-image: url(/assets/main2.jpg);
  }
  60% {
    background-image: url(/assets/main2.jpg);
  }
  80% {
    background-image: url(/assets/main3.jpg);
  }
  100% {
    background-image: url(/assets/main3.jpg);
  }
}
.main__txts {
  padding-left: 20px;
  padding-top: 25%;
  display: flex;
  flex-direction: column;
}
.main p {
  color: #fff;
  opacity: 0.9;
}
.main__txt1 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -4px;
}
.main__txt2 {
  font-size: 35px;
  font-weight: 100;
  letter-spacing: -3px;
}
.container {
  position: relative;
  margin-top: 200px;
  margin-bottom: 10px;
}
