.main {
  border-top: #184b46 solid 5px;
}
.main__img {
  width: 100%;
  height: 88vh;
  background-image: url(/assets/main1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: var(--min-width);
  position: relative;
  animation: changebg 18s linear infinite;
  animation-direction: alternate;
}

@keyframes changebg {
  0% {
    background-image: url(/assets/main1.jpg);
  }
  20% {
    background-image: url(/assets/main1.jpg);
  }
  40% {
    background-image: url(/assets/main2.jpg);
  }
  60% {
    background-image: url(/assets/main2.jpg);
  }
  80% {
    background-image: url(/assets/main3.jpg);
  }
  100% {
    background-image: url(/assets/main3.jpg);
  }
}

.main p {
  position: absolute;
  min-width: 980px;
  background: none;
  color: #fff;
  left: 45px;
  opacity: 0.9;
}
.main__txt1 {
  font-size: 90px;
  font-weight: 700;
  top: 450px;
  letter-spacing: -4px;
}
.main__txt2 {
  font-size: 45px;
  font-weight: 400;
  top: 550px;
  letter-spacing: -3px;
}
.container {
  position: relative;
  margin-top: 200px;
  margin-bottom: 10px;
}
