.nav {
  display: flex;
  width: 100%;
  margin: 15px;
}

.nav__lists {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav__list {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 550;
}

.nav__logo {
  width: 200px;
  height: 45px;
}
